*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
app/src/main/java/com/numa/cardmax/numapp/Protocolo/FragmentProtocolo1.java
app/src/main/res/layout/fragment_inicio_protocolos.xml
app/src/main/res/drawable/ico_protocolo.xml
.idea/assetWizardSettings.xml
*.xml
